<mat-toolbar color="primary" class="flex-container">
  <div>
    <span>Roomy</span>
    <a [routerLink]="['/home']" mat-button>
      <mat-icon>home</mat-icon>
      Accueil
    </a>
    <a routerLink="/rooms/list" mat-button>
      <mat-icon>room</mat-icon>
      Salles
    </a>
    <a routerLink="/rooms/add" mat-button>
      <mat-icon>add</mat-icon>
      Ajouter
    </a>
  </div>
  <div>
    <a mat-button *ngIf="user === null; else logout">
      <mat-icon>locked_out</mat-icon>
      Se connecter
    </a>
    <ng-template #logout>
      <div>
        Bonjour {{user.name}}
        <a mat-button>
          <mat-icon>locked_in</mat-icon>
          Se déconnecter
        </a>
      </div>
    </ng-template>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <app-top-five></app-top-five>
</footer>